@charset "utf-8";
/* CSS Document */
/*
.modal-open #container {
filter: blur(4px);
}
.sub-modal-open #modal-container {
filter: blur(4px);
}
*/

#modal-container,
#sub-modal-container {
overflow: hidden;
position: fixed;
display: none;
justify-content: center;
align-items: center; 
flex-direction: column;
left: 0; top: 0;
z-index: 9999;
width: 100%; height: 100%;
padding: 16px;
background-color: rgba(0,0,0,.5);
}
#sub-modal-container {
z-index: 19999;
}
.modal {
width: 100%; max-width: 800px;
height: auto; max-height: 100%;
box-shadow: 0 0 16px rgba(0,0,0,.3);
border-radius: 4px;
}
.modal-header {
position: relative;
height: 48px;
background-color: #FFF;
border-radius: 4px 4px 0 0;
}
.modal-title {
overflow: hidden;
padding: 0 24px;
line-height: 48px;
white-space: nowrap;
text-overflow: ellipsis;
font-size: 120%;
color: #333;
}
.modal-close {
position: absolute;
right: 0; top: 0;
width: 48px; height: 48px;
}
.modal-close-button {
display: block;
position: relative;
z-index: 0;
width: 100%; height: 100%;
background-color: #FFF;
border: none;
border-radius: 0 4px 0 0;
cursor: pointer;
outline: none;
}
.modal-close-button:focus {
box-shadow: 0 0 0 1px #0070FF;
}
.modal-close-button:hover {
background-color: #F2F2F2;
}
.modal-close-button::before,
.modal-close-button::after {
content: '';
display: block;
position: absolute;
left: 50%; top: 50%;
width: 50%; height: 2px;
background-color: #999;
}
.modal-close-button::before {
transform: translate(-50%,-50%) rotate(-45deg);
}
.modal-close-button::after {
transform: translate(-50%,-50%) rotate(45deg);
}

.modal-main {
position: relative;
z-index: 0;
max-height: calc( 100% - 96px );
border-top: 1px solid #DDD;
overflow: auto;
}
.modal-body {
padding: 24px;
background-color: #F8F8F8;
}
.modal-footer {
height: 48px;
background-color: #F4F4F0;
border-top: 1px solid #DDD;
border-radius: 0 0 4px 4px;
}
.modal-menu-list {
display: flex;
align-items: center;
height: 48px;
padding: 0 24px;
}
.modal-menu-item {
margin-right: 16px;
}
.modal-menu-item.modal-error-item {
margin-left: auto;
letter-spacing: -0.4em;
}
.modal-error-item > div {
display: inline-block;
margin-left: 8px; padding:  0 8px;
border-width: 1px;
border-style: solid;
border-radius: 2px;
line-height: 24px;
letter-spacing: normal;
vertical-align: top;
font-size: 12px;
cursor: pointer;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.modal-required-count {
background-color: #F3EAFC;
border-color: #8A2BE2;
color: #8A2BE2;
}
.modal-error-count {
background-color: #FCF2F2;
border-color: #D33333;
color: #D33333;
}
.modal-error-item > div:hover {
background-image: linear-gradient( rgba( 255,255,255,.5 ), rgba( 255,255,255,.8 ) );
}
.modal-error-item > div:active {
transform: scale(.97);
}
.modal-required-count-num,
.modal-error-count-num {
display: inline-block;
padding: 0 4px;
font-weight: bold;
}

.item-confirmation-table {
width: 100%;
margin-bottom: 16px;
border: 1px solid #CCC;
border-collapse: separate;
border-spacing: 0;
border-radius: 0 0 6px 6px;
}
.item-confirmation-table:last-child {
margin-bottom: 0;
}
.item-confirmation-caption {
padding: 8px 16px;
background-color: #D9E4E2;
border: 1px solid #CCC;
border-bottom: none;
border-radius: 6px 6px 0 0;
text-align: left;
}
.item-confirmation-th,
.item-confirmation-td {
padding: 8px 16px;
border-bottom: 1px solid #CCC;
}
.item-confirmation-tr:last-child .item-confirmation-th,
.item-confirmation-tr:last-child .item-confirmation-td {
border-bottom: none;
}
.item-confirmation-th {
width: 8px;
white-space: nowrap;
text-align: left;
font-weight: normal;
color: #333;
}
.item-confirmation-td {
word-break: break-all;
color: #666;
}






.modal-block {
margin-bottom: 32px;
}
.modal-block:last-child {
margin-bottom: 0;
}
.modal-block-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 16px;
}
.modal-block-title {
display: inline-block;
padding-bottom: 2px;
border-bottom: 4px solid #1F8C78;
letter-spacing: 0.05em;
font-size: 16px;
color: #333;
}
.modal-block-menu-button {
padding: 4px 24px;
background-color: #FFF;
border: 1px solid #EF8457;
border-radius: 32px;
font-size: 80%;
color: #EF8457;
cursor: pointer;
}
.modal-block-menu-button:hover {
background-color: #EF8457;
color: #FFF;
}





.item-block {
position: relative;
margin-bottom: 4px; padding: 8px 12px;
background-color: #FFF;
border: 1px solid #DDD;
border-radius: 4px;
}
.item-block:last-child {
margin-bottom: 0;
}
.item-block.select-emphasis {
animation: emphasis .8s linear forwards;
}
@keyframes emphasis {
  0% { transform: scale(1.02); }
 25% { transform: scale(1); }
 50% { transform: scale(1.01); }
100% { transform: scale(1); }
}

.item-header {
overflow: hidden;
display: flex;
position: relative;
z-index: 0;
width: 100%;
margin-bottom: 8px; padding-left: 24px;
}
.item-header::before,
.item-header::after {
content: '';
display: block;
position: absolute;
left: 0; top: 50%;
transform: translateY(-50%);
z-index: -1;
width: 16px; height: 16px;
}
.item-header::before {
background-color: #80D4CE;
}
.item-header::after {
background-image: linear-gradient( transparent 6px, #FFF 6px, #FFF 10px, transparent 10px ),
linear-gradient( 90deg, transparent 6px, #FFF 6px, #FFF 10px, transparent 10px );
}
.item-header-cell > span {
display: block;
width: 100%; height: 20px;
white-space: nowrap;
}
.item-title {
min-width: 0;
margin-right: auto;
}
.item-title-text {
overflow: hidden;
line-height: 20px;
font-size: 14px;
text-overflow: ellipsis;
letter-spacing: 0.05em;
}

.item-word-count {
padding-left: 8px;
}
.item-word-count-inner {
font-size: 11px;
}
.item-word-number {
display: inline-block;
height: 20px;
padding: 0 8px;
border: 1px solid #CCC;
border-radius: 4px;
vertical-align: top;
line-height: 18px;
}
.item-word-number.count-error {
background-color: #FCF2F2;
border-color: #D33333;
color: #D33333;
}
.item-word-min-max {
display: inline-block;
height: 20px;
padding: 0 8px;
background-color: #338DC9;
border-radius: 4px;
vertical-align: top;
line-height: 20px;
color: #FFF;
}
.item-word-number + .item-word-min-max {
margin-left: 8px;
}


.item-required {
padding-left: 8px;
}
.item-required-mark {
display: block;
padding: 0 8px;
background-color: #C80000;
border-radius: 4px;
line-height: 20px;
font-size: 11px;
color: #FFF;
}



.item-text,
.item-number,
.item-password,
.item-textarea {
width: 100%; height: 32px;
padding: 8px;
background-color: #F2F2F2;
border: 1px solid #DDD;
outline: none;
font-size: 100%;
color: #333;
}
.item-number {
width: 120px;
text-align: right;
}
.item-number::-webkit-inner-spin-button,
.item-number::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: textfield;
}
.item-text:disabled,
.item-number:disabled,
.item-password:disabled,
.item-textarea:disabled {
opacity: .5;
cursor: no-drop;
}
.item-textarea {
resize: vertical;
min-height: 120px;
vertical-align: top;
}
.item-reference {
display: block;
min-height: 32px;
padding: 0 8px;
background-color: #FFF;
border-bottom: 1px solid #DDD;
line-height: 31px;
font-size: 100%;
color: #666;
}
.item-text:focus,
.item-number:focus,
.item-password:focus,
.item-textarea:focus {
background-color: #E5F1FF;
border-color: #0070FF;
}
.item-text.required-error,
.item-number.required-error,
.item-password.required-error,
.item-textarea.required-error {
background-color: #F3EAFC;
border-color: #8A2BE2;
color: #8A2BE2;
}
.item-text.required-error:focus,
.item-number.required-error:focus,
.item-password.required-error:focus,
.item-textarea.required-error:focus {
background-color: #F9F4FE;
color: #333;
}
.item-text.count-error,
.item-number.count-error,
.item-password.count-error,
.item-textarea.count-error {
background-color: #FBEBEB;
border-color: #D33333;
color: #D33333;
}
.item-text.count-error:focus,
.item-number.count-error:focus,
.item-password.count-error:focus,
.item-textarea.count-error:focus {
background-color: #FDF5F5;
color: #333;
}
.item-text.input-error,
.item-number.input-error,
.item-password.input-error,
.item-textarea.input-error {
background-color: #FBEBEB;
border-color: #D33333;
color: #D33333;
}
.item-text.input-error:focus,
.item-number.input-error:focus,
.item-password.input-error:focus,
.item-textarea.input-error:focus {
background-color: #FDF5F5;
color: #333;
}

.item-text::placeholder,
.item-number::placeholder,
.item-password::placeholder,
.item-textarea::placeholder {
font-size: 80%;
color: #999;
}
.item-error,
.item-mismatch-error {
display: none;
margin-top: 4px; padding: 0 12px;
background-color: #FAE6E6;
border-radius: 4px;
line-height: 30px;
color: #C80000;
}
.item-error.input-error,
.item-mismatch-error.input-mismatch-error {
display: block;
}
.item-password {
width: calc( 100% - 32px );
}
.item-password.password-input {
letter-spacing: 0.15em;
font-size: 16px;
}
.item-password[type="text"] {
letter-spacing: normal;
font-size: 100%;
}
.item-password-eye {
display: inline-block;
width: 32px; height: 34px;
padding: 7px 6px;
vertical-align: top;
cursor: pointer;
fill: #999;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
/* Selet */
.item-select {
width: 100%; height: 32px;
border: 1px solid #DDD;
}

/* Radio */
.item-radio-list {
border-radius: 4px;
letter-spacing: -0.4em;
}
.item-radio-item {
display: inline-block;
position: relative;
letter-spacing: normal;
vertical-align: top;
}
.item-radio {
position: absolute;
left: 0; top: 0;
z-index: -1;
opacity: 0;
}
.item-radio-label {
display: block;
margin-right: 4px; padding: 6px 12px 6px 32px;
background-color: #F2F2F2;
border: 1px solid transparent;
border-radius: 2px;
letter-spacing: 0.05em;
font-size: 12px;
color: #666;
cursor: pointer;
}
.item-radio-label:hover {
background-color: transparent;
border-color: #DDD;
}
.item-radio-label::before,
.item-radio-label::after {
content: '';
display: block;  
position: absolute;
}
.item-radio-label::before {
left: 12px; top: 50%;
transform: translateY(-50%);
width: 16px; height: 16px;
background-color: #FFF;
border: 2px solid #CCC;
border-radius: 50%;
}
.item-radio:focus ~ .item-radio-label {
box-shadow: 0 0 0 1px #0070FF;
}
.item-radio:checked ~ .item-radio-label {
cursor: default;
background-color: transparent;
border-color: #DDD;
}
.item-radio:checked ~ .item-radio-label::before {
border-color: #1783BF;
border-width: 1px;
}
.item-radio:checked ~ .item-radio-label::after {
left: 16px; top: 50%;
transform: translateY(-50%);
width: 8px; height: 8px;
background-color: #1783BF;
border-radius: 50%;
}


.item-freeitem-list {
position: relative;
z-index: 0;
}
.item-freeitem-list.active {
box-shadow: 0 0 0 1px #0070FF;
cursor: grabbing!important;
}
.item-freeitem-list.active * {
cursor: grabbing!important;
}
.item-freeitem-item {
display: flex;
margin-bottom: 4px;
border: 1px solid #DDD;
}
.item-freeitem-item.move {
position: absolute;
left: 0;
z-index: 1000;
width: 100%;
box-shadow: 2px 2px 4px rgba( 0,0,0,.3 );
opacity: .8;
pointer-events: none;
}
.item-freeitem-dummy {
margin-bottom: 4px;
background-color: #F8F8F8;
}
.item-freeitem-item-move,
.item-freeitem-item-delete {
position: relative;
z-index: 0;
width: 40px;
padding: 0;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.item-freeitem-item-move {
border-right: 1px solid #EEE;
cursor: grab;
}
.item-freeitem-item-delete {
border-left: 1px solid #EEE;
cursor: pointer;
}
.item-freeitem-item-move::after,
.item-freeitem-item-delete::before,
.item-freeitem-item-delete::after {
content: '';
display: block;
position: absolute;
left: 50%; top: 50%;
}
.item-freeitem-item-move::after {
width: 24px; height: 24px;
transform: translate(-50%,-50%);
background-image: linear-gradient( rgba( 0,0,0,.2 ) 50%, transparent 50% );
background-size: 4px 4px;
}
.item-freeitem-item-delete::before,
.item-freeitem-item-delete::after {
width: 2px; height: 16px;
background-color: #AAA;
}
.item-freeitem-item-delete::before {
transform: translate(-50%,-50%) rotate(45deg);
}
.item-freeitem-item-delete::after {
transform: translate(-50%,-50%) rotate(-45deg);
}
.item-freeitem-item-delete:hover::before,
.item-freeitem-item-delete:hover::after {
background-color: #D00;
}
.item-freeitem-item-move.disabled,
.item-freeitem-item-delete.disabled {
cursor: no-drop;
}
.item-freeitem-item-move.disabled::after {
background-image: linear-gradient( rgba( 0,0,0,.05 ) 50%, transparent 50% );
}
.item-freeitem-item-delete.disabled::before,
.item-freeitem-item-delete.disabled::after {
background-color: #EEE!important;
}
.item-freeitem-item-name,
.item-freeitem-item-content {
width: calc( 50% - 40px );
}

.item-freeitem-item {
background-color: #FFF;
}
.item-freeitem-item-name {
padding: 4px 4px 4px 8px;
}
.item-freeitem-item-content {
padding: 4px 8px 4px 4px;
}
.item-freeitem-item-input {
width: 100%;
}
.item-freeitem-menu-list {
padding-top: 4px;
letter-spacing: -0.4em;
text-align: right;
}
.item-freeitem-menu-item {
display: inline-block;
vertical-align: top;
letter-spacing: normal;
}

.item-note {
margin-top: 8px; padding-top: 8px;
border-top: 1px dotted #DDD;
letter-spacing: 0.05em;
font-size: 12px;
color: #888;
}
.item-message-block {
background-color: transparent;
border: none;
}

.item-number-area {
letter-spacing: -0.4em;
}
.item-number-area > * {
letter-spacing: normal;
vertical-align: middle;
}
.item-number-range {
position: relative;
z-index: 0;
display: inline-block;
width: calc( 100% - 144px ); height: 32px;
margin-left: 16px;
cursor: pointer;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.item-number-range::before,
.item-number-range-lower {
content: '';
display: block;
position: absolute;
z-index: -1;
left: 0; top: 50%;
transform: translateY(-50%);
width: 100%; height: 4px;
border-radius: 2px;
background-color: #DDD;
}
.item-number-range-knob {
position: absolute;
left: 0; top: 50%;
z-index: 10;
transform: translate(-8px,-50%);
width: 16px; height: 16px;
background-color: #EFEFEF;
border: 2px solid #AAA;
border-radius: 50%;
}
.item-number-range-lower {
z-index: 1;
background-color: #AAA;
}
.item-number-range-knob,
.item-number-range-lower {
transition-duration: .1s;
}
.item-number-range-tooltip {
display: none;
position: fixed;
z-index: 20;
transform: translate(-50%,-20px);
width: 4em; height: 24px;
background-color: #FFF;
border: 1px solid #CCC;
box-shadow: 0 0 4px rgb(0 0 0 / 20%);
line-height: 24px;
text-align: center;
font-size: 11px;
pointer-events: none;
}
.item-number-range-tooltip::after {
content: '';
display: block;
position: absolute;
bottom: -5px; left: 50%;
width: 7px; height: 7px;
background-color: #FFF;
border-left: 1px solid #CCC;
border-bottom: 1px solid #CCC;
transform: translateX(-4px) rotate(-45deg);
pointer-events: none;
}

.modal-tab-menu {
width: 100%;
border-bottom: 1px solid #DDD;
}
.modal-tab-list {
display: table;
table-layout: fixed;
width: 100%;
border-collapse: collapse;
}
.modal-tab-item {
display: table-cell;
padding-right: 1px;
outline: none;
}
.modal-tab-item:last-child {
padding-right: 0;
}
.modal-tab-name {
position: relative;
width: 100%; height: 32px;
padding: 0 4px 0 8px;
background-color: #F2F2F2;
border: 1px solid #DDD;
border-bottom: none;
border-radius: 4px 4px 0 0;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 12px;
color: #AAA;
cursor: pointer;
}
.modal-tab-item:focus .modal-tab-name {
border-color: #0070FF;
}
.open .modal-tab-name {
background-color: #FFF!important;
color: #333;
cursor: default;
}
.open .modal-tab-name::before {
content: '';
display: block;
position: absolute;
bottom: -1px; left: 0;
width: 100%; height: 2px;
background-color: #FFF;
}
.open .modal-tab-name::after {
content: '';
display: block;
position: absolute;
bottom: 0; left: 8px;
width: calc( 100% - 16px ); height: 2px;
background-color: #1F8C78;
opacity: .5;
}
.modal-tab-text {
overflow: hidden;
display: block;
line-height: 32px;
text-overflow: ellipsis;
user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.modal-tab-delete {
visibility: hidden;
position: absolute;
right: 0; top: 0;
width: 24px; height: 28px;
vertical-align: middle;
cursor: pointer;
}
.modal-tab-delete::before,
.modal-tab-delete::after {
content: '';
display: block;
position: absolute;
left: 50%; top: 50%;
width: 9px; height: 2px;
background-color: #AAA;
}
.modal-tab-delete::before {
transform: translate(-50%,-50%) rotate(45deg);
}
.modal-tab-delete::after {
transform: translate(-50%,-50%) rotate(-45deg);
}

.modal-tab-name:hover {
background-color: #F8F8F8;
border-color: #DDD;
color: #333;
}
.modal-tab-add-block .modal-tab-item.open .modal-tab-name,
.modal-tab-add-block .modal-tab-name:hover {
padding-right: 24px;
}
.modal-tab-item.open .modal-tab-delete,
.modal-tab-item:hover .modal-tab-delete {
visibility: visible;
}
.modal-tab-delete:hover::before,
.modal-tab-delete:hover::after {
background-color: #D00
}



.modal-tab-body {
padding: 8px;
border: 1px solid #DDD;
border-top: none;
border-radius: 0 0 4px 4px;
}
.modal-tab-body-block {
display: none;
}
.modal-tab-body-block.open {
display: block;
}
.modal-tab-empty .modal-tab-menu {
display: none;
}
.modal-tab-empty .modal-tab-body {
padding: 0;
border: none;
}
.modal-empty-block {
padding: 16px 24px;
background-color: #EAF7FC;
border: 2px solid #94D5F1;
border-radius: 4px;
color: #333;
}



.modal-loading-inner {
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
position: relative;
z-index: 1;
width: 100%; height: 100%;
}
.modal-loading-inner::after {
content: '';
display: block;
position: absolute;
left: 50%; top: 50%;
z-index: 2;
transform: translate(-50%,-50%);
width: calc( 100% - 128px ); height: 16px;
background-color: #EEE;
background-image: linear-gradient( -45deg, transparent 25%, rgba( 0,0,0,.1 ) 25%, rgba( 0,0,0,.1 ) 50%, transparent 50%, transparent 75%, rgba( 0,0,0,.1 ) 75% );
background-size: 32px 32px;
box-shadow: 0 0 0 2px #CCC;
border-radius: 8px;
animation: modalLoadingBar .5s linear infinite;
}
@keyframes modalLoadingBar {
to { background-position: 32px 0; }
}


/* 固定用レイアウト */
.layout-tab-fixed.modal,
.layout-tab-fixed .modal-main,
.layout-tab-fixed .modal-body,
.layout-tab-fixed .modal-block,
.layout-tab-fixed .modal-tab-block,
.layout-tab-fixed .modal-tab-body-block,
.layout-tab-fixed .modal-item,
.layout-tab-fixed .modal-item > div,
.layout-tab-fixed .item-parameter-block {
height: 100%;
}
.layout-tab-fixed .modal-main {
overflow: hidden;
}
.layout-tab-fixed .modal-block-header {
height: 30px;
}
.layout-tab-fixed .modal-block-main {
height: 100%;
}
.layout-tab-fixed .modal-block-header + .modal-block-main {
height: calc( 100% - 30px );
}
.layout-tab-fixed .modal-tab-menu {
height: 33px;
}
.layout-tab-fixed .modal-tab-body {
height: calc( 100% - 33px );
}